
body {
    --background-color: rgb(215, 23, 196);
    --text-color: black;

    background-color: var(--background-color);
    color: var(--text-color);

    align-items: center;
    display: flex;
    flex-direction: column;
}

body.dark {
    --background-color: rgb(86, 41, 111);
    --text-color: white;
}

#game-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    width: 300px; 
    height: 300px;

    margin-top: 15vh;
}

.cell {
    --background-color-c: rgba(253, 253, 253, 0.281);
    --border-color: #480a0a;

    background-color: var(--background-color-c);
    border-color: var(--border-color);
    
    border: 1px solid ;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 24px;
    cursor: pointer;

    align-items: center;
    justify-content: center;
    display: flex;
}

.cell.dark{
    --background-color-c: rgb(6, 32, 98);
    --border-color: rgb(199, 255, 15);
}

.btmBtn{
    --border-color-b: black;

    border-color: var(--border-color-b);
    border: 1px solid;
    border-radius: 5px;
    background-color: rgb(71, 97, 190);
}

.btmBtn.dark{
    --border-color-b: white;
}


#display{
    display: flex;
    margin-top: 5vh;
    font-size: larger;
}

.player, #ties{
    margin: 8px;
    padding: 8px;

}

.player{
    --border-color-p: black;
    
    border-color: var(--border-color-p);
    border: 1px solid;
    border-radius: 5px;
}

.player.dark{
    --border-color-p: white;
}

#p1{
    background-color: green;
}

#p2{
    background-color: rgb(255, 0, 0);
}


#resetBtn{
    margin: 70px;
}



/* ANIMATION BELOW ---------------------------------------------------------------------------------------------------------------------------------- */


/* @keyframes winning-animation {
    0% { background-color: yellow; }
    50% { background-color: gold; }
    100% { background-color: yellow; }
    
} */

/* @keyframes winning-animation {
    0% { background-color: yellow; }
    50% { background-color: gold; }
    100% { background-color: yellow; }
} */

@keyframes winning-animation {
    0% {
        background-color: white;
        color: black;
    }
    50% {
        background-color: black;
        color: black; /* Keep text color constant */
    }
    100% {
        background-color: white;
        color: black;
    }
}



.winning-cell.winning-animation {
    animation-name: winning-animation; /* Your animation name */
    animation-duration: 0.5s; /* Change this to make the animation last longer (e.g., 2 seconds) */
    /* Add other animation properties as needed */
}


